@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
:root {
  --primary-color: rgba(5, 152, 236, 0.945);
}

body {
  background-color: rgb(243, 240, 235);
  margin: 0;
  font-family: "poppins";
}
.navbar {
  background-color: white;
  padding: 1em;

  .logo {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2em;
    color: black;

    span {
      color: var(--primary-color);
    }
  }
  nav {
    display: none;
  }
  .container {
    display: flex;
    place-content: space-between;
  }
  .mobile-menu {
    cursor: pointer;
  }
}

a {
  color: rgb(117, 110, 110);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col {
  .subhead {
    text-transform: uppercase;
    font-weight: bolder;
    color: gray;
    letter-spacing: 0.3em;
  }
  h1 {
    font-size: 2.5em;
  }
}
